.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
*.log
*.rds

*.afdesign

prelimMultiData/

_targets/objects/*
_targets/meta/*
_targets/user/*

data/*.csv
data/*.csv$

notebook/prereg/bcf examples/
notebook/prereg/sampleSizeTesting/
notebook/manuscript/feedback/

