.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
*.log
*.rds

*.afdesign

data/
prelimMultiData/

_targets/objects/*
_targets/meta/*
_targets/user/*
!_targets/objects/combinedResults

notebook/prereg/bcf examples/

